.form{
    text-align: center;
}
.linkbtn{
    color: white;
}
.p1{
    width: 600px;
}
.precio{
    text-align: center;
}
.card-body{
    background-color:lavender;
    text-align: center;
    }
.col-md-8{
    background-color: lavender;
    text-align: center;
}
.card-title{
    text-align: center;
    font-size: xx-large;
}
